{% extends "auth_base.html" %}
{% block content %}
<div class="outer" style="width:350px;height:250px;">
    <h1 style="text-align:center;font:Trebuchet MS;text-decoration:bold;">RemindMe!</h1>
    <hr>
    <form class="text-center" action="/login">
        <button id="login" name="login" type="submit" class="btn btn-secondary" style="width:100px;margin-bottom:12px;">Log In</button>
    </form>
    <form class="text-center" action="/register">
        <button id="signup" name="signup" type="submit" class="btn btn-secondary" style="width:100px;;">Sign Up</button>
    </form>
</div>
{% endblock %}