{% extends "auth_base.html" %}
{% block content %}
<div class="outer" style="width:400px;height:270px;">
    <div class="container">
        <h1 style="text-align:center;font:Trebuchet MS;">RemindMe!</h1>
        <hr>
        <p style="text-align:center;font:Calibri;font-size:14pt">You have successfully logged out.</p>
    </div>
    <div class="text-center">
        <form action="/">
            <button type="submit" class="btn btn-secondary" style="font-size:20pt;">Main Page</button>
        </form>
    </div>
</div>
{% endblock %}