{% extends "auth_base.html" %}
{% block content %}

<div style="width:350px;height:380px;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);padding:40px;border:3px solid rgba(200,200,200,0.3);border-radius:80px;background-color:rgb(150,150,160);color:white;">
    <div class="container">
        <h1 style="text-align:center;font:Trebuchet MS;text-decoration:bold;">RemindMe!</h1>
        <hr>
        <form id="login-form" class="auth-form">
            <div class="form-group">
                <label for="username" style="font-size:14pt;">Username</label>
                <input type="text" id="username" name="username" style="width:100%"/>
            </div>
            <div class="form-group">
                <label for="password" style="font-size:14pt;">Password</label>
                <input type="password" id="password" name="password" style="width:100%"/>
            </div>
            <button type="submit" class="btn btn-secondary">Log In</button>
        </form>
    </div>
</div>
{% endblock %}