{% extends "subject_base.html" %}
{% block content %}
<div class="container-fluid btn-group" role="group" style="margin-bottom:40px;">
    <form id="createnote" action="/home/subject/newnote/{{ subject._id }}" style="margin-right:15px;">
        <button type="submit" class="btn btn-outline-light"> + Create a new note</button>
    </form>
    <form id="editsubject" action="/home/editclass/{{ subject._id }}" style="margin-right:15px;">
        <button type="submit" class="btn btn-outline-light">Edit this subject</button> <!--TODO-->
    </form>
    <form id="back2subject" action="/home" style="margin-right:15px;">
        <button type="submit" class="btn btn-outline-light">Back to home</button>
    </form>
</div>
<div class="container" style="color:lightgrey;margin-bottom:30px;">
    <h1>{{ subject.title }}</h1>
    <h4>{{ subject.description }}</h4>
</div>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
    {% if notes|length > 0 %}
        {% for note in notes %}
            <div class="card card-note" style="background-color:#F8FFF;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Due Date: {{ note.due_date }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Date Entered: {{ note.date }}</h6>
                    <hr style="margin-top:0px;margin-left:0;margin-right:0;">
                    <p class="card-text">{{ note.content }}</p>
                    <div class="align-self-end mt-auto">
                        <form action="/home/{{ subject._id }}/editnote/{{ note._id }}"
                              style="margin-top:auto;float:left;">
                            <button class="align-self-end btn btn-outline-dark btn-small mt-auto">Edit</button>
                        </form>
                        <form action="/home/{{ subject._id }}/deleteclass/{{ note._id }}"
                              style="margin-top:auto;margin-left:10px;float:left;">
                            <button class="align-self-end btn btn-outline-dark btn-small mt-auto">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4 style="color:#999;">You have yet to create any notes ... </h4>
    {% endif %}
    </div>
</div>
{% endblock %}