.card {
    box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.2);
}

.card-subject {
    float:left;
    width:260px;
    height:260px;
    margin-bottom:24px;
    margin-left:12px;
    margin-right:12px;
    background-color:#CCC;
}

.card-note {
    float:left;
    width:340px;
    height:320px;
    margin-bottom:24px;
    margin-left:12px;
    margin-right:12px;
    background-color:#EEE;
}

@media (max-width:994px) {}