.card {
    box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.2);
}

.card-subject {
    float:left;
    width:24%;
    height:250px;
    margin-bottom:16px;
    margin-left:1%;
    background-color:#CCC;
}